@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-secondary: #68748a;
  --color-border: #e5e8ef;
  --color-tab: #f6f6f7;
  --breakpoint-xs: 480px;
  --breakpoint-2xs: 430px;
  --breakpoint-3xs: 393px;
}

:root {
  --background: #ffffff;
  --foreground: oklch(0.141 0.005 285.823);
}

.dark {
  --background: #110f0f;
  --foreground: #ffffff;
  --secondary: #111111;
  --secondary-foreground: #88c5dc;
}

::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-2px);
  }
  40%,
  80% {
    transform: translateX(2px);
  }
}

.animate-shake {
  animation: shake 0.4s ease-in-out;
}

@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.9;
  }
}

.animate-pulse-scale {
  animation: pulse-scale 1.5s ease-in-out infinite;
}

.hover-card {
  @apply transition-all duration-300 ease-in-out hover:scale-[1.02];
}

@keyframes floatX {
  0%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-40px);
  }
}

@keyframes driftX {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(600px); /* ระยะเลื่อน */
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes driftX-reverse {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-600px); /* เลื่อนขึ้นแล้วกลับลง */
  }
  100% {
    transform: translateX(0px);
  }
}

.animate-drift-x {
  animation: driftX 12s ease-in-out infinite;
}

.animate-drift-x-reverse {
  animation: driftX-reverse 12s ease-in-out infinite;
}
